{% extends 'base.twig' %}

{% block content %}

    <h1>Members</h1>
    <ul>
        {% for user in users %}
            <li>{{ user.name }}</li>
                <a class="btn btn-danger" role="button" href="/user/delete/{{user.id}}">Delete</a>
                <a class="btn btn-success" role="button" href="/user/edit/{{user.id}}">Edit</a>
          
        {% endfor %}
    </ul>

{% endblock %}